@page "/fetchdata"
@using BlazorServerApp.Models
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>
<p>This component demonstrates fetching data from a service.</p>
<p>Find a forecast by zip</p>
<input type="number" @onchange="ZipCodeChanged" />
<br />
@if(forecastfull ==null)
{
    <span>@searchResult</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
                <th>Zip</th>
                <th>City</th>
                <th>County</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@forecastfull.Date.ToShortDateString()</td>
                <td>@forecastfull.TemperatureC</td>
                <td>@forecastfull.TemperatureF</td>
                <td>@forecastfull.Summary</td>
                <td>@forecastfull.Zip</td>
                <td>@forecastfull.City</td>
                <td>@forecastfull.County</td>
                <td>@forecastfull.State</td>
            </tr>
        </tbody>
    </table>
}
<hr />
<p>List of weather forecasts</p>
@if (forecastfulls == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
                <th>Zip</th>
                <th>City</th>
                <th>County</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecastfulls)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                    <td>@forecast.Zip</td>
                    <td>@forecast.City</td>
                    <td>@forecast.County</td>
                    <td>@forecast.State</td>
                </tr>
            }
        </tbody>
    </table>
}
<hr/>
Add a new forecast
<br/>
<EditForm Model="newforecastfull" OnValidSubmit="CreateNewForecastFull">
    Date:<InputDate @bind-Value=newforecastfull.Date /><br />
    Temperature (in C): <InputNumber @bind-Value=newforecastfull.TemperatureC /><br />
    Summary:<InputTextArea @bind-Value=newforecastfull.Summary /><br />
    Zip code:<InputNumber @bind-Value=newforecastfull.Zip min="10000" max="99999" /><br />
    City:<InputText @bind-Value="newforecastfull.City" /><br />
    County:<InputText @bind-Value="newforecastfull.County" /><br />
    State:<InputText @bind-Value="newforecastfull.State" /><br />
    <button type="submit" disabled="@isSubmitting">Save</button>@saving
    <DataAnnotationsValidator />
    <ValidationSummary />
</EditForm>

@code {

    private IEnumerable<WeatherForecastFull> forecastfulls;
    private WeatherForecastFull forecastfull;
    private WeatherForecastFull newforecastfull = new();
    private int selectedZip;
    private string searchResult;
    private string saving;
    private bool isSubmitting;

    private async void ZipCodeChanged(ChangeEventArgs e)
    {
        bool isParsable = int.TryParse((string)e.Value, out selectedZip);
        if (isParsable)
        {
            forecastfull = null;
            searchResult = "searching...";
            HttpResponseMessage reponse = await Http.GetAsync($"{selectedZip}");
            if (reponse.StatusCode==System.Net.HttpStatusCode.OK)
            {
                forecastfull = await reponse.Content.ReadFromJsonAsync<WeatherForecastFull>();
            }
            else
            {
                searchResult = "not found.";
            }
            StateHasChanged();
        }
    }
    protected override async Task OnInitializedAsync()
    {
        forecastfulls = await Http.GetFromJsonAsync<IEnumerable<WeatherForecastFull>>("");
        ResetNewForecastFull();
    }
    private async Task CreateNewForecastFull()
    {
        isSubmitting = true;
        saving = "saving...";
        HttpResponseMessage response = await Http.PostAsJsonAsync("", newforecastfull);
        await this.OnInitializedAsync();
        saving = "saved.";
        isSubmitting = false;
    }

    private void ResetNewForecastFull()
    {
        newforecastfull = new() { Date = DateOnly.FromDateTime(DateTime.Now) };
    }
}
